*.opensdf
Bike sharing WIN/Bike sharing WIN.sdf
Bike sharing WIN/Bike sharing WIN.sdf
Bike sharing WIN/Bike sharing WIN.v12.suo
Bike sharing WIN/Bike sharing WIN/Debug/vc120.pdb
Bike sharing WIN/Debug/Bike sharing WIN.pdb
Bike sharing WIN/Debug/Bike sharing WIN.ilk
Bike sharing WIN/Debug/Bike sharing WIN.exe
Bike sharing WIN/Bike sharing WIN/Debug/vc120.pdb
Bike sharing WIN/Bike sharing WIN/Debug/vc120.idb
*.pdb
*.idb
*.obj
*.tlog
*.log
*.suo
*.sdf